certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
numpy==1.24.4
packaging==24.0
pathfinding==1.0.9
pluggy==1.4.0
pyasn1==0.5.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
PySimpleGUI==5.0.3
pytest==8.1.1
requests==2.31.0
rsa==4.9
tomli==2.0.1
urllib3==2.2.1
